html {
    background-color: #453c52;
    margin: 0;
}
body {
    background-color: #c1afd1;
    padding: 3%;
    max-width: 1150px;
    margin: 15px auto;
}

ul {
    font-family: Smooch Sans;
    font-size: 20px;
    list-style-type: none;
    margin-left: -30px;
    padding: 0;
    position: fixed;
    overflow: auto;
    height: 80%;
    background-color: #453c52;
    
}

li a {
    display: block;
    width: 150px;
    text-decoration: none;
    color: black;
    color: white;
    padding: 8px ;
    text-align: center;
}

li a:hover {
    background-color: white;
    font-weight: bold;
    color:black;
}

div {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: thick;
    padding: 2%;
}

article {
    display: block;
    block-size: 100 100;

}


h1, h2, h3 {
    font-family: Smooch Sans;
    text-align: center;
}

p {
    padding-top: 5px;
}
