html {
    background-color: white;
}

body {
    position: relative;
    background-color: #c1afd1;
    padding: 3%;
    height: max-content;
    margin: 20px;
}

ul {
    position: fixed;
    top: -20px;
    left: -1px;

    font-family: Smooch Sans;
    font-size: 20px;
    list-style-type: none;
    background-color: #453c52;
    padding: 2%;
    height: 100%;

    
}

li a {
    display: grid;
    width: 150px;
    text-decoration: none;
    color: white;
    padding: 8px;
    text-align: center;
}

li a:hover {
    background-color: white;
    font-weight: bold;
    color:black;
}

.textBox1 {

    background-color: #453c52;
    color: white;
    border-radius: 30px;
   

    padding: 15px 35px;
    margin-left: 200px;
    margin-top: 150px;
}

.textBox2 {
    position: inherit;
    border: 0;
    height: 290px;
    width: 250px;

    left: 250px;
    top: 150px;

}

/*
.imgBox {
    position: relative;
    border: 0;
    margin-top: -200px;
    margin-right: 500px;
    
}
*/

.topright {
    position: relative;
    float: right;
    top: 50px;
    right: 30fr;
}



h1, h2, h3 {
    font-family: Smooch Sans;
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    padding-top: 5px;
}
