html {
    background-color: white;
    margin: 0;
}

body {
    
    background-color: #c1afd1;
    padding: 3%;
    max-width: 1150px;
    margin: 15px auto;
}

ul {
    position: fixed;
    top: -20px;
    left: -1px;

    font-family: Smooch Sans;
    font-size: 20px;
    list-style-type: none;
    padding: 2%;
    height: 100%;
    background-color: #453c52;
    
}

li a {
    display: block;
    width: 150px;
    text-decoration: none;
    color: white;
    padding: 8px ;
    text-align: center;
}

li a:hover {
    background-color: white;
    font-weight: bold;
    color:black;
}

.textBox1 {
    position: relative;
    bottom: -420px;
    left: -50px;
    
    background-color: #453c52;
    color: white;
    border-radius: 30px;
    height: 130px;
    width: -200px;

    padding: 15px 35px;
    
    margin-left: 350px;
    margin-top: 10;
}

.textBox2 {
    position: absolute;
    top: 95px;
    left: 350px;

    border: 0;
    height: 290px;
    width: 250px;

}

.imgBox {
    position: relative;
    border: 0;
    margin-top: -200px;
    margin-right: 500px;
    
}

.topright {
    position: absolute;
    top: 130px;
    right: 50px;
    font-size: 18px;
}



h1, h2, h3 {
    font-family: Smooch Sans;
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    padding-top: 5px;
}
